body
{
  background-image:url("fondecran.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.conteneur
{
  width: 62.5%;
  margin: 0 auto;
  border:5px solid black;
  background-image: url("fondcv.jpeg");
  margin-top: 4.5%;
  border-radius: 15%;
  margin-right: 18%;
  background-repeat: no-repeat;
  background-size: cover;
}

.corps
{
  width: 90%;
  margin: 0 auto;
}

.titre
{
  float: right;
  margin-top: 10%;
  padding: 1px;
  width: 70%;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: black;
  margin-right: 3%;
  border:5px solid black;;
  background-color:white;
  border-radius: 10px;
  font-family: cursive;
}

.photojim
{
  background-image: url("pdp.jpg");
  width: 150px;
  height: 150px;
  background-size: cover;
  border:5px solid black;
  margin:5px;
  border-radius: 20%;
  margin-top: 5%;
}

.cv
{
  color:#FFFFFF;
  text-decoration:underline;
  text-transform: uppercase;
  font-family: fantasy;
  margin-top: 5%;
}


h3
{
white-space: nowrap;
text-align: right;
font-family: fantasy;
}

.lesul
{
  text-align: right;
}

.lesul li
{
  padding:15px;
}

.cordon
{
  width: 60%;
}

.cordon ul
{
  border:5px solid black;
  border-radius: 10%;
  background-color: white;
  width: 70%;
  text-transform: uppercase;
}

.cordon li
{
  list-style-type: none;
  padding: 2%;
}
span
{
  text-transform: capitalize;
  font-family: fantasy;
}

li
{
  font-family: fantasy;
}
