body {
}

.conteneur
{
  width: 80%
  margin:0 auto;
}
.logo
{
  background-image: url("hands.jpg");
  height: 80px;
  width: 220px;
  background-size:contain;
  background-repeat: no-repeat;
}

.bandeau
{
  display: inline-block;
  float:right;
}

.bandeau li
{
  display:inline;
  font-size: 15px;
  margin-right: 100px;
  font-family: comic;
  margin-right: 50px;
}

.bandeau a
{
  color:grey;
  text-decoration: none;
  text-transform: uppercase;
}

.bandeau a:hover
{
  color:green;
}

.bandeau a:active
{
  color:black;
}

.bandeau a:visited
{
}

.bandeauimg
{
  background-image: url("fond1.jpg");
  color:black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-position: top;
  position: relative;top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
	height: 450px;
}

.boutonaide
{
  text-align: center;
  margin-top: 110px;
}

.boutonaide a
{
  border-radius: 5px;
  color:white;
  text-decoration: none;
  background-color:#2F4F4F;
  padding: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

#texte {
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.catego
{
  display: inline-block;
  margin-top:25px;
  width: 250px;
  float:right;
  margin-right: 150px;
  text-transform: uppercase;
}

.tableau
{
  border: 1px solid black;
  width: 250px;
  margin-top:50px;
  background-color:white;
  white-space:pre-line;
  padding:50px;
  height: 250px;
}

.feature {
  border-radius: 5px;
  width: 60px;
  background-color:#2F4F4F;
  color: white;
  padding: 10px;
  text-transform:uppercase;
  font-size: 13px;
  padding-right: 20px;
  margin-bottom: 25px:
}

.volontaire
{
  border:2px solid green;
  font-size: 20px;
  border-width: medium;
  font-family: fantasy;
  padding: 5px;
}

img {
width: 100px;
height: 100px;
padding-bottom: 15px;
margin-left: 75px;
}

mark
{
  color:green;
  background-color: white;
}

.jours {
  clear:right;
  float: right;
  margin-right:25px;
}
