.head {
  height: 45em;
}

.titreheader {
  height:3em;
  width: 15%;
  margin: 0 auto;
  border: 1px solid white;
  position: relative;bottom: 17em;
  margin-left: 35em;
  border-radius: 5%;
  color:white;
  color:rgba(254, 254, 254, 0.8);
}

.titreheader li {
  list-style-type: none;
  position: absolute;
  font-family:monospace;
  font-weight: bold;
  font-size: 15px;
}

.image {
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("formation.jpg");
  width: 100%;
  height: 48.5em;
  margin: 0;
}

.contenant {
  float: left;
  width: 100%;
  height: 45em;
  background-color:#D82C2E;
}

.menu {
  width: 50%;
  height: 5em;
  margin: 0 auto;
}

.menu ul {
  margin-left: 5%;
  border-radius: 20%;
}
.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  font-weight: bold;
  font-family: cursive;
  padding: 2px;
}

.menu a:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.menu a:hover , .menu a:focus , .menu a:active
{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #2098d1;
  color: white;
}

.photo
{
  background-image: url("photojim.jpg");
  width: 25%;
  height: 20em;
  position: absolute;
  margin-left: 35%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgba(254, 254, 254, 0);
  border-radius: 50%;
  background-position: center;
  filter: grayscale(100);
  background-color: black;
}

.bouton1
{
  width: 3.5%;
  height: 3em;
  /*background-image: url("bouton.jpeg");*/
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-top: 15%;
  border: 1px solid rgba(254, 254, 254, 0.5);
  border-radius: 60%;
  background-position: center;
}

.bouton1 a {
  position: absolute;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

body {
  margin: 0;
}

.buttonback
{
  position: absolute;
  margin-top: 22em;
  margin-left: 2.5em;
}

.buttonnext
{
  float: right;
  margin-top: 22em;
  margin-right: 2.5em;
}

.nometc
{
  position: absolute;
  margin-top: 25%;
  margin-left:40.7%;
  color:white;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

.entete
{
  position: absolute;
  margin-top: 32.5%;
  margin-left:35%;
}

.dlresume
{
  position: absolute;
  margin-top: 36.5%;
  margin-left:40%;
  border:2px solid white;
  padding: 1%;
  border-radius: 10%;
}

.dlresume a
{
  text-decoration: none;
  color:white;
}
.dlresume a:hover
{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.dlresume a:hover , .dlresume a:active , .dlresume a:focus
{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #2098d1;
  color: white;
}

.contenant2
{
  width: 100%;
  height: 40em;
  float: left;
}

.divcontenante
{
  width: 80%;
  margin: 0 auto;
  height: 35em;
}
.divcontenante h2
{
  margin-left: 32.5%;
  color:red;
  font-family: sans-serif;
  font-weight: bold;
}

.divcontenante p
{
  text-align: center;
  padding:2%;
}

.un
{
  width: 20%;
  height:10em;
  border:2px solid black;
  border-right:none;
}

.divcontenante img
{
  margin-left: 30%;
  width: 64px;
  height: 64px;
}

.divcontenante h4
{
  text-align: center;
}

.divcontenante span
{
  position: relative;

}


.deux
{
  width: 20%;
  height:10em;
  border:2px solid black;
  border-right:none;

}

.trois
{
  width: 20%;
  height:10em;
  border:2px solid black;
  border-right: none;

}

.quatre
{
  width: 20%;
  height:10em;
  border:2px solid black;
}

.un , .deux , .trois , .quatre
{
  padding: 2.3%;
  float: left;
}

.contenant3
{
  float: left;
  width: 100%;
  height: 25em;
  background-color:#D82C2E;
}

.contenant3 h1
{
  text-align: center;
  color:white;
  font-family: sans-serif;
  text-transform: uppercase;
}

.cinq {
  width: 15%;
  height: 12.5em;
  border:1px solid black;
  margin-left: 9%;
}

.six {
  width: 15%;
  height: 12.5em;
  border:1px solid black;
}

.sept {
  width: 15%;
  height: 12.5em;
  border:1px solid black;
}

.huit {
  width: 15%;
  height: 12.5em;
  border:1px solid black;
}

.cinq , .six , .sept , .huit
{
  float: left;
  padding: 2.5%;
}

.cinq , .six , .sept , .huit h4
{
  text-align: center;
}

.circu1 , .circu2 , .circu3 , .circu4
{
  width: 100px; height: 100px;
  border-radius: 50%;
  background: rgba(254, 254, 254, 0.1);
  margin-left: 25%;
  border: 1px solid white;
}

.cinq , .six , .sept
{
  border-right: none;
}

.contenant4
{
  width: 100%;
  height: 35em;
  float: left;
}

.ligne
{
  margin: 10 auto;
  height: 0.5em;
  width: 10%;
  border:2px solid red;
  border-left: none;
  border-right:none;
  border-bottom:none;
}

.contenant4 h2
{
  text-align: center;
  color:#D82C2E
}

.contenant4 a
{
  text-decoration: none;
}


.menu3
{
  height: 5em;
  width: 35%;
  margin: 0 auto;
}

.all
{
  margin-left: 10%;
  border: 1px solid black;
  border-right: none;
}

.phot
{
  border:1px solid black;
  border-right: none;
}

.brand
{
  border:1px solid black;
  border-right: none;
}

.illus
{
  border:1px solid black;
}

.all , .phot , .brand , .illus
{
  width: 15%;
  height: 5em;
  display: inline;
  padding: 4px;
}
