

.page-header
{
  background-image: url("green.jpg");
  margin: 0;
  height: 30em;
  border-bottom: 4px solid #1583CC;
}

.navbar
{
  margin-bottom:0;
  border-radius: 1px;
  height: 3em;
  background-image: url("logoutlimate.png");
  background-repeat: no-repeat;
}

.navbar img
{
  width: 25%;
}

.navbar a
{
  color:blue;
}

.thumbnail
{
  border-radius: 5px;
}

/*.container-fluid
{
height: 15em;
}*/

.col-xs-3
{
  display: inline-block;
}

.col-md-2
{
  margin-left: 5em;
  margin-top: 2em;
}


.col-md-3 img
{
  width: 20em;
  height: 20em;
}

.btn-primary
{
  margin-left: 8em;
}

h3
{
  margin-left: 3.5em;
}

.jumbotron a
{
  margin-right: 10em;
}

.jumbotron img
{
  /*width: 10em;*/
  height: 10em;
}

.col-md-4
{
  border: 1px solid black;
  /*border-radius:10px;
  background-color:rgba(0, 0, 0, 0.2);*/
}

.col-md-4 img
{
  width: 5em;
  height:5em;
  border-radius:25px;
  margin-top: -10em;
  margin-right: 2.5em;
}

.para
{
  margin:5em;
  height: 25em;
  border:1px solid green;
}

/*.col-md-2 img
{
width: 5em;
height: 5em;
display: inline-block;
}*/

.jimmy
{
  border: 2px solid blue;
  height: 6em;
  width: 50%;
}

.ok
{
  width: 10em;
  height: 10em;
}
