

.navbar
{
  margin:0;
  border-radius:0;
}

.navbar a
{
  border:none;
  border-radius: 0;
}


.page-header
{
  margin:0;
  border-bottom:5px solid #2BA6CB;
  padding-bottom:0;
}

.modal-body
{
}

.modal-header
{

}

.modal-footer
{

}


#myCarousel
{
}
#myCarousel img
{
  border-radius: 10px;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.jim a
{
  border-radius: 10px;
  margin: 2px;
}

.jumbotron
{
  border-radius: 10px;
  height: 25em;
}
