body
{
  margin: 0;
}

.conteneur
{
  width: 100%;
  height: 220em;
  float: left;
  border:1px solid #A7D7F9;
  margin-bottom: 2%;
  border-left: none;
  ;
}

.tete
{
  height: 7.2em;
  float: right;
  width: 87.1%;
  background-image:-moz-linear-gradient(60deg, white,#F7F7F7);
}
.tete ul
{
  margin: 0;
  list-style-type: none;
  float: right;
}

.deuxiemeliste li
{
  display: inline;
}

.discussions li
{
  display: inline;
}

.tete1 li
{
  display: inline;
}

.conteneur li
{
  display: inline;
}

.tete a
{
  text-decoration: none;
  font-size: 15px;
  font-family: cursive;
}


.deuxiemeliste
{
  float: right;
  margin-top: 2.5%;
  width: 100%;
  background-image:-moz-linear-gradient(60deg, white,#F7F7F7);
}

.deuxiemeliste li
{
  margin-bottom: 5%;
}
.bandeauvertical
{
  width: 12.5%;
  height: 170em;
  border:2px solid #A7D7F9;
  margin: 0;
  background-color:#F7F7F7;
  border-top: none;
  border-left: none;
  border-bottom: none;
}


.bandeauvertical ul
{
  margin-top: 2em;
}
.bandeauvertical li
{
  list-style-type: none;
}

.bandeauvertical a
{
  text-decoration: none;
}

.discussions
{
  width: 100%;
  height: 4em;
}

.discussions ul
{
  margin-right: 83%;
}

.tableauconteneur
{
  float: right;
width: 25%;
height:45em;
border:1px solid grey;
background-color:#F9F9F9;
margin-right: 2.5%;
margin-top: 2.5%;
}

.conteneur p
{
  white-space: pre-line;
  font-size: 15px;
}

.tableauconteneur li
{
  display: block;
  margin-right: 100%;
}

.titredetableau
{
  width: 96%;
  height: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 1.5px;
  background-color:#EEEEFF;
  margin-top: 2px;
}

.tableau2
{
  float: left;
  width: 25%;
  height: 35em;
  border:1px solid grey;
  margin-left: 05%;
  background-color:#F9F9F9;
}


.logo
{
  height: 13em;
  width: 100%;
  background-image: url("frwiki.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo img
{
  height: 25px;
  width: 25px;
}

table
{
font-size: 12.5px;
margin: 10%;
}

.alan
{
  width: 75%;
  height: 15em;
  background-image: url("alan.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 2px;
}

.titredepage
{
  height: 5em;
  width: 82.5%;
}

h1
{
  padding: 2%;
  text-transform: capitalize;
  font-family: arial;
  position: relative;5em;
  width: 60%;
  height: 0.2em;
}


.bouton
{
  background-image: url("bouton.png");
  background-size: cover;
}

.biographie
{
width: 70%;
height: 10em;
float: right;
}

h2
{
  margin-top: 15%
}

.contenu2
{
  width: 60%;
  height: 15em;
  margin-top: 65%;
  margin-left: 3%;
}

p
{
  margin-top: 3%;
  width: 75%;
}
